body{
    background-color: #222
}

#main_body{
    margin: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    background-color: #ffffff;
    min-height: 1000px;
    border-radius: 0 0 5px 5px;
}

#header{
    padding-top: 10px;
    padding-bottom: 10px;
}

#foolt01{
    clear: both;
}
