body{
    background-color: #222
}

#main_body{
    margin: 5px;
    margin-left: 5%;
    margin-top: 50px;
    margin-right: 5%;
    padding: 0px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    height: 1000px;
    border-radius: 0 0 5px 5px;
}

#loginbtn{
    float: right;
}
#foot01{
    text-align: center;
    float: bottom;
}
